In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\hp\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [243]:
import http.client
import json
import pandas as pd
import csv
import psycopg2

In [247]:
import requests

url = "https://realty-mole-property-api.p.rapidapi.com/randomProperties"

querystring = {"limit":"1000"}

headers = {
	"x-rapidapi-key": "bc68487461mshca1d2214a6e1c46p1c3c47jsn5f4df3a84144",
	"x-rapidapi-host": "realty-mole-property-api.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())


data= response.json()

#Saving into a file
filename = "PropertyRecords.json"
with open(filename,"w") as file:
    json.dump(data,file,indent=4)

[{'addressLine1': '843 E 30th St', 'city': 'Baltimore', 'state': 'MD', 'zipCode': '21218', 'formattedAddress': '843 E 30th St, Baltimore, MD 21218', 'county': 'Baltimore City', 'features': {}, 'id': '843-E-30th-St,-Baltimore,-MD-21218', 'longitude': -76.606186, 'latitude': 39.323861}, {'addressLine1': '822 San Juan Pl', 'city': 'San Diego', 'state': 'CA', 'zipCode': '92109', 'formattedAddress': '822 San Juan Pl, Apt 4, San Diego, CA 92109', 'addressLine2': 'Apt 4', 'bedrooms': 2, 'squareFootage': 1669, 'yearBuilt': 1984, 'county': 'San Diego', 'assessorID': '423-606-13-04', 'legalDescription': 'TR 1651 BLK 160*US 4 PER DOC85-028354&UND INT IN LOTS I&J', 'subdivision': 'MISSION BEACH', 'zoning': 'R-1:SINGLE FAM-RES', 'bathrooms': 2, 'lotSize': 4778, 'propertyType': 'Condo', 'ownerOccupied': False, 'features': {'architectureType': 'Condo / Apartment', 'garage': True, 'garageSpaces': 2, 'garageType': 'Garage', 'unitCount': 1}, 'taxAssessment': {'2022': {'value': 310439, 'land': 146663, 'improvements': 163776}, '2023': {'value': 316647, 'land': 149596, 'improvements': 167051}}, 'propertyTaxes': {'2022': {'total': 3816}, '2023': {'total': 3921}}, 'owner': {'names': ['RC PARTNERSHIP'], 'mailingAddress': {'id': '2950-Bayside-Walk,-San-Diego,-CA-92109', 'formattedAddress': '2950 Bayside Walk, San Diego, CA 92109', 'addressLine1': '2950 Bayside Walk', 'city': 'San Diego', 'state': 'CA', 'zipCode': '92109'}, 'type': 'Organization'}, 'id': '822-San-Juan-Pl,-Apt-4,-San-Diego,-CA-92109', 'longitude': -117.25183, 'latitude': 32.780446}, {'addressLine1': '4763 Rosebud Cv', 'city': 'Southaven', 'state': 'MS', 'zipCode': '38672', 'formattedAddress': '4763 Rosebud Cv, Southaven, MS 38672', 'assessorID': '2-07-2-10-13-0-00104-00', 'county': 'Desoto', 'legalDescription': 'ROSEBURY, SEC. B LOT 104', 'ownerOccupied': True, 'squareFootage': 1910, 'subdivision': 'ROSEBURY SEC B', 'yearBuilt': 2015, 'lotSize': 12556, 'propertyType': 'Single Family', 'lastSaleDate': '2018-08-28T00:00:00.000Z', 'bedrooms': 3, 'zoning': 'PUD', 'features': {'exteriorType': 'Brick Veneer', 'foundationType': 'Slab / Mat / Raft', 'roofType': 'Shingle', 'roomCount': 8}, 'taxAssessment': {'2017': {'value': 13991, 'land': 3500, 'improvements': 10491}, '2019': {'value': 14232, 'land': 3500, 'improvements': 10732}, '2022': {'value': 15165, 'land': 3500, 'improvements': 11665}, '2023': {'value': 15165}}, 'propertyTaxes': {'2017': {'total': 1693}, '2019': {'total': 1717}, '2022': {'total': 1849}, '2023': {'total': 1895}}, 'owner': {'names': ['A Laeshia A Adams'], 'mailingAddress': {'id': '4763-Rosebud-Cv,-Southaven,-MS-38672', 'formattedAddress': '4763 Rosebud Cv, Southaven, MS 38672', 'addressLine1': '4763 Rosebud Cv', 'city': 'Southaven', 'state': 'MS', 'zipCode': '38672'}, 'type': 'Individual'}, 'id': '4763-Rosebud-Cv,-Southaven,-MS-38672', 'longitude': -89.932892, 'latitude': 34.929832}, {'addressLine1': '4935 Guernsey Rd', 'city': 'Milton', 'state': 'FL', 'zipCode': '32571', 'formattedAddress': '4935 Guernsey Rd, Milton, FL 32571', 'bedrooms': 3, 'squareFootage': 2076, 'yearBuilt': 1999, 'features': {'cooling': True, 'coolingType': 'Central', 'exteriorType': 'Brick', 'fireplace': True, 'floorCount': 1, 'foundationType': 'Masonry', 'garage': True, 'garageType': 'Garage', 'heating': True, 'heatingType': 'Forced Air', 'roofType': 'Asphalt', 'unitCount': 1}, 'county': 'Santa Rosa', 'assessorID': '08-1N-29-0000-01108-0000', 'legalDescription': "COM SW CORN OF NW4 OF NE4 OF SECTION 8 TOWNSHIP 1 NORTH RANGE 29 WEST TH S 88*38'13E 525 FT TH N01*44' 11E 503 FT TO POB TH", 'subdivision': 'WEST', 'zoning': 'AG-RR', 'ownerOccupied': True, 'bathrooms': 2, 'lotSize': 54450, 'propertyType': 'Single Family', 'taxAssessment': {'2023': {'value': 170879}}, 'propertyTaxes': {'2023': {'total': 1719}}, 'lastSalePrice': 200000, 'lastSaleDate': '2019-12-27T00:00:00.000Z', 'owner': {'names': ['Steven R Lusk'], 'mailingAddress': {'id': '4935-Guernsey-Rd,-Pace,-FL-32571', 'formattedAddress': '4935 Guernsey Rd, Pace, FL 32571', 'addressLine1': '4935 Guernsey Rd', 'city': 'Pace', 'state': 'FL', 'zipCode': '32571'}}, 'id': '4935-Guernsey-Rd,-Milton,-FL-32571', 'longitude': -87.171307, 'latitude': 30.616804}, {'addressLine1': '805 Sandra Ln', 'city': 'Jonesboro', 'state': 'AR', 'zipCode': '72405', 'formattedAddress': '805 Sandra Ln, Jonesboro, AR 72405', 'assessorID': '01-144104-11900', 'county': 'Craighead', 'legalDescription': 'WYATTWOOD SECOND ADDITIONPT NW SE', 'ownerOccupied': True, 'squareFootage': 2172, 'subdivision': 'WYATTWOOD SECOND ADD', 'bathrooms': 2, 'lotSize': 13068, 'propertyType': 'Single Family', 'features': {'cooling': True, 'coolingType': 'Central', 'exteriorType': 'Brick Veneer', 'floorCount': 1, 'foundationType': 'Slab / Mat / Raft', 'garage': True, 'garageSpaces': 2, 'garageType': 'Attached', 'heating': True, 'heatingType': 'Central', 'roofType': 'Asphalt'}, 'taxAssessment': {'2019': {'value': 35650, 'land': 5000, 'improvements': 30650}, '2023': {'value': 39537, 'land': 5000, 'improvements': 34537}}, 'propertyTaxes': {'2019': {'total': 1338}, '2023': {'total': 1900}}, 'lastSalePrice': 335000, 'lastSaleDate': '2022-07-29T00:00:00.000Z', 'owner': {'names': ['WILLIAM S MCNEIL'], 'mailingAddress': {'id': '4804-Highway,-232-E,-England,-AR-72046', 'addressLine1': '4804 Highway', 'city': 'England', 'state': 'AR', 'zipCode': '72046', 'addressLine2': '232 E'}}, 'id': '805-Sandra-Ln,-Jonesboro,-AR-72405', 'longitude': -90.647081, 'latitude': 35.852262}, {'bathrooms': 2, 'bedrooms': 2, 'squareFootage': 1134, 'county': 'Miami-Dade', 'propertyType': 'Apartment', 'addressLine1': '1080 Brickell Ave', 'addressLine2': 'Unit 2309', 'city': 'Miami', 'state': 'FL', 'zipCode': '33131', 'formattedAddress': '1080 Brickell Ave, Unit 2309, Miami, FL 33131', 'yearBuilt': 2016, 'lastSaleDate': '2016-10-11T00:00:00.000Z', 'lastSalePrice': 646900, 'assessorID': '01-4139-127-2980', 'legalDescription': 'THE BOND (1080 BRICKELL) CONDO UNIT 2309 UNDIV 0.3609% INT IN COMMON ELEMENTS OFF REC 28808-2358', 'subdivision': 'BOND 1080 BRICKELL', 'zoning': '6407:HIGH DENS MIX USE', 'ownerOccupied': False, 'features': {'architectureType': 'Condo / Apartment'}, 'taxAssessment': {'2023': {'value': 641400}}, 'propertyTaxes': {'2023': {'total': 11647}}, 'owner': {'names': ['SISSI USA CORP'], 'type': 'Organization', 'mailingAddress': {'id': '150-Se-2nd-Ave,-STE-1408,-Miami,-FL-33131', 'formattedAddress': '150 Se 2nd Ave, STE 1408, Miami, FL 33131', 'addressLine1': '150 Se 2nd Ave', 'city': 'Miami', 'state': 'FL', 'zipCode': '33131', 'addressLine2': 'STE 1408'}}, 'id': '1080-Brickell-Ave,-Unit-2309,-Miami,-FL-33131', 'longitude': -80.192659, 'latitude': 25.76284}, {'addressLine1': '25730 Player Dr', 'city': 'Valencia', 'state': 'CA', 'zipCode': '91355', 'formattedAddress': '25730 Player Dr, Unit S7, Valencia, CA 91355', 'addressLine2': 'Unit S7', 'assessorID': '2851-008-175', 'bedrooms': 3, 'county': 'Los Angeles', 'legalDescription': '*TR=35769 CONDOMINIUM*UNIT 175', 'ownerOccupied': True, 'squareFootage': 1296, 'subdivision': 'VALENCIA AT LAKESHORE', 'yearBuilt': 1971, 'zoning': 'SCUR3', 'bathrooms': 2, 'lotSize': 676060, 'propertyType': 'Condo', 'lastSalePrice': 395000, 'lastSaleDate': '2020-03-13T00:00:00.000Z', 'features': {'architectureType': 'Condo / Apartment', 'cooling': True, 'coolingType': 'Commercial', 'heating': True, 'heatingType': 'Central', 'unitCount': 1}, 'taxAssessment': {'2019': {'value': 185987, 'land': 57032, 'improvements': 128955}, '2023': {'value': 415212, 'land': 235252, 'improvements': 179960}}, 'propertyTaxes': {'2019': {'total': 2748}, '2023': {'total': 5662}}, 'owner': {'names': ['Lori Whitbeck', 'Gerald I Brainum'], 'mailingAddress': {'id': '25730-Player-Dr,-UNIT-S7,-Santa-Clarita,-CA-91355', 'formattedAddress': '25730 Player Dr, UNIT S7, Santa Clarita, CA 91355', 'addressLine1': '25730 Player Dr', 'city': 'Santa Clarita', 'state': 'CA', 'zipCode': '91355', 'addressLine2': 'UNIT S7'}, 'type': 'Individual'}, 'id': '25730-Player-Dr,-Unit-S7,-Valencia,-CA-91355', 'longitude': -118.562076, 'latitude': 34.389298}, {'addressLine1': '937 Main St', 'city': 'Wakefield', 'state': 'MA', 'zipCode': '01880', 'formattedAddress': '937 Main St, Apt 5, Wakefield, MA 01880', 'addressLine2': 'Apt 5', 'county': 'Middlesex', 'features': {}, 'id': '937-Main-St,-Apt-5,-Wakefield,-MA-01880', 'longitude': -71.066357, 'latitude': 42.482558}, {'bathrooms': 1.5, 'bedrooms': 3, 'squareFootage': 1743, 'county': 'Catoosa', 'propertyType': 'Single Family', 'addressLine1': '250 Hickory Cir', 'city': 'Ringgold', 'state': 'GA', 'zipCode': '30736', 'formattedAddress': '250 Hickory Cir, Ringgold, GA 30736', 'lastSalePrice': 293400, 'lastSaleDate': '2024-07-12T00:00:00.000Z', 'lotSize': 27443, 'yearBuilt': 1966, 'features': {'cooling': True, 'coolingType': 'Central', 'exteriorType': 'Brick Veneer', 'fireplace': True, 'floorCount': 1, 'foundationType': 'OTHER', 'garage': True, 'garageType': 'Garage', 'heating': True, 'heatingType': 'Central', 'roofType': 'Composition Shingle', 'unitCount': 1}, 'assessorID': '0023B112', 'legalDescription': 'LOT 3 SCENIC HILLS', 'subdivision': 'SCENIC HILLS SUB', 'zoning': 'R-1', 'ownerOccupied': True, 'taxAssessment': {'2023': {'value': 69102, 'land': 14794, 'improvements': 54308}}, 'propertyTaxes': {'2023': {'total': 1547}}, 'owner': {'names': ['James Johnson'], 'mailingAddress': {'id': '250-Hickory-Cir,-Ringgold,-GA-30736', 'formattedAddress': '250 Hickory Cir, Ringgold, GA 30736', 'addressLine1': '250 Hickory Cir', 'city': 'Ringgold', 'state': 'GA', 'zipCode': '30736'}}, 'id': '250-Hickory-Cir,-Ringgold,-GA-30736', 'longitude': -85.157958, 'latitude': 34.921414}, {'bathrooms': 2, 'bedrooms': 2, 'squareFootage': 1341, 'county': 'Marion', 'propertyType': 'Single Family', 'addressLine1': '7947 Sw 89th Loop', 'city': 'Ocala', 'state': 'FL', 'zipCode': '34476', 'formattedAddress': '7947 Sw 89th Loop, Ocala, FL 34476', 'yearBuilt': 2020, 'assessorID': '3566-001-004', 'legalDescription': 'SEC 18 TWP 16 RGE 21', 'subdivision': 'CIRCLE SQUARE WOODS', 'zoning': 'PUD', 'ownerOccupied': False, 'lotSize': 5227, 'lastSalePrice': 119000, 'lastSaleDate': '2022-08-09T00:00:00.000Z', 'features': {'cooling': True, 'coolingType': 'Commercial', 'exteriorType': 'Stucco', 'floorCount': 1, 'foundationType': 'Slab / Mat / Raft', 'heating': True, 'heatingType': 'Central', 'roofType': 'Fiberglass', 'unitCount': 1, 'garage': True, 'garageType': 'Garage'}, 'taxAssessment': {'2022': {'value': 182904}, '2023': {'value': 230435, 'land': 13671, 'improvements': 216764}}, 'propertyTaxes': {'2022': {'total': 3018}, '2023': {'total': 3894}}, 'owner': {'names': ['LUCKY SIX FARMS LLC'], 'mailingAddress': {'id': '10578-Sw-98th-Pl,-Ocala,-FL-34481', 'formattedAddress': '10578 Sw 98th Pl, Ocala, FL 34481', 'addressLine1': '10578 Sw 98th Pl', 'city': 'Ocala', 'state': 'FL', 'zipCode': '34481'}, 'type': 'Organization'}, 'id': '7947-Sw-89th-Loop,-Ocala,-FL-34476', 'longitude': -82.250442, 'latitude': 29.093213}]

In [249]:
#Read into a dataframe

Propertyrecord_df = pd.read_json('PropertyRecords.json')

In [251]:
Propertyrecord_df.info()
print(Propertyrecord_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   addressLine1      10 non-null     object
 1   city              10 non-null     object
 2   state             10 non-null     object
 3   zipCode           10 non-null     int64
 4   formattedAddress  10 non-null     object
 5   county            10 non-null     object
 6   features          10 non-null     object
 7   id                10 non-null     object
 8   longitude         10 non-null     float64
 9   latitude          10 non-null     float64
 10  addressLine2      4 non-null      object
 11  bedrooms          7 non-null      float64
 12  squareFootage     8 non-null      float64
 13  yearBuilt         7 non-null      float64
 14  assessorID        8 non-null      object
 15  legalDescription  8 non-null      object
 16  subdivision       8 non-null      object
 17  zoning            7 non-null      object
 18  bathrooms         7 non-null      float64
 19  lotSize           7 non-null      float64
 20  propertyType      8 non-null      object
 21  ownerOccupied     8 non-null      float64
 22  taxAssessment     8 non-null      object
 23  propertyTaxes     8 non-null      object
 24  owner             8 non-null      object
 25  lastSaleDate      7 non-null      object
 26  lastSalePrice     6 non-null      float64
dtypes: float64(9), int64(1), object(17)
memory usage: 2.2+ KB
Index(['addressLine1', 'city', 'state', 'zipCode', 'formattedAddress',
       'county', 'features', 'id', 'longitude', 'latitude', 'addressLine2',
       'bedrooms', 'squareFootage', 'yearBuilt', 'assessorID',
       'legalDescription', 'subdivision', 'zoning', 'bathrooms', 'lotSize',
       'propertyType', 'ownerOccupied', 'taxAssessment', 'propertyTaxes',
       'owner', 'lastSaleDate', 'lastSalePrice'],
      dtype='object')

In [57]:
#Transformational 

#Convert columns with dictionary into string
import json

Propertyrecord_df['features']=Propertyrecord_df ['features'].apply(json.dumps)

#fill missing nd NA values
Propertyrecord_df.fillna(
    {
        'bathrooms': 0,
        'bedrooms': 0,
        'squareFootage': 0, 
        'county': "Not Available", 
        'propertyType': "unknown",
        'addressLine1': "unknown",
        'city': "unknown", 
        'state': "unknown", 
        'zipCode': "unknown", 
        'formattedAddress': "Not Available",
        'yearBuilt': 0, 
        'features': "unknown", 
        'assessorID': "unknown", 
        'legalDescription': "Not Available",
        'subdivision': "Not Available", 
        'ownerOccupied': 0, 
        'lotSize': 0, 
        'taxAssessment': "Not Available",
        'propertyTaxes': "Not Available", 
        'lastSaleDate': "Not Available", 
        'lastSalePrice': 0, 
        'owner': "unknown", 
        'id': "unknown",
        'longitude': "unknown", 
        'latitude': "unknown", 
        'zoning': "unknown", 
        'addressLine2': "Not Available"
    },
    inplace=True
)

In [59]:
print(Propertyrecord_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         10 non-null     float64
 1   bedrooms          10 non-null     float64
 2   squareFootage     10 non-null     float64
 3   county            10 non-null     object
 4   propertyType      10 non-null     object
 5   addressLine1      10 non-null     object
 6   city              10 non-null     object
 7   state             10 non-null     object
 8   zipCode           10 non-null     int64
 9   formattedAddress  10 non-null     object
 10  lotSize           10 non-null     float64
 11  yearBuilt         10 non-null     float64
 12  features          10 non-null     object
 13  assessorID        10 non-null     object
 14  legalDescription  10 non-null     object
 15  subdivision       10 non-null     object
 16  zoning            10 non-null     object
 17  taxAssessment     10 non-null     object
 18  propertyTaxes     10 non-null     object
 19  lastSalePrice     10 non-null     float64
 20  lastSaleDate      10 non-null     object
 21  ownerOccupied     10 non-null     float64
 22  owner             10 non-null     object
 23  id                10 non-null     object
 24  longitude         10 non-null     float64
 25  latitude          10 non-null     float64
 26  addressLine2      10 non-null     object
dtypes: float64(9), int64(1), object(17)
memory usage: 2.2+ KB
None

In [253]:
#create the FACT Table
fact_columns =['addressLine1','city', 'state','zipCode', 'formattedAddress',  'squareFootage', 'yearBuilt', 'bathrooms', 'bedrooms', 'lotSize', 'propertyType',
                'longitude', 'latitude']

fact_table = Propertyrecord_df[fact_columns]

#Create Location Dimension
Location_dim= Propertyrecord_df[['addressLine1','city', 'state','zipCode','county','longitude', 'latitude']].drop_duplicates().reset_index(drop=True)
Location_dim.index.name= 'location_id'

In [255]:
#Create Sales Dimension

sales_dim = Propertyrecord_df[['lastSalePrice','lastSaleDate']].drop_duplicates().reset_index(drop=True)
sales_dim.index.name= 'sales_id'
sales_dim.head()

          lastSalePrice              lastSaleDate
sales_id
0                   NaN                       NaN
1                   NaN  2018-08-28T00:00:00.000Z
2              200000.0  2019-12-27T00:00:00.000Z
3              335000.0  2022-07-29T00:00:00.000Z
4              646900.0  2016-10-11T00:00:00.000Z

In [257]:
#Create Property Features Dimension
features_dim = Propertyrecord_df[['features', 'propertyType', 'zoning']].drop_duplicates().reset_index(drop=True)
features_dim.index.name ='features_id'
features_dim.to_csv('features_dim.csv')
features_dim.head()

TypeError: unhashable type: 'dict'

In [29]:

#Output to csv
fact_table.to_csv('property_fact.csv', index=False)
Location_dim.to_csv('Location_dimension.csv', index=True)
sales_dim.to_csv('sales_dimension.csv', index=True)
features_dim.to_csv('features_dimension.csv', index=True)

In [67]:
  #Loading Layer

# develop a function to connect to pgadmin

def get_db_connection():
    connection = psycopg2.connect(
        host= 'localhost',
        database='postgres',
        user='postgres',
        password='shakirat12'
    )
    return connection

conn = get_db_connection()

In [259]:
#creating tables


def create_tables():
    conn = get_db_connection()
    cursor = conn.cursor()
    create_table_query='''CREATE SCHEMA IF NOT EXISTS zapbank;

                            DROP TABLE IF EXISTS zapbank.fact_table;
                            DROP TABLE IF EXISTS zapbank.location_dim;
                            DROP TABLE IF EXISTS zapbank.sales_dim;
                            DROP TABLE IF EXISTS zapbank.features_dim;

                            CREATE TABLE zapbank.fact_table(
                                addressline1 VARCHAR(255),
                                city VARCHAR(100),
                                state VARCHAR(50),
                                zipCode INTEGER,
                                formattedAddress VARCHAR(255),
                                squareFootage FLOAT,
                                yearBuilt FLOAT,
                                bathrooms FLOAT,
                                bedrooms FLOAT,
                                lotSize FLOAT,
                                propertyType VARCHAR(255),
                                longitude FLOAT,
                                latitude FLOAT
                                );

                                CREATE TABLE zapbank.location_dim(
                                    location_id SERIAL PRIMARY KEY,
                                    addressLine1 VARCHAR(255),
                                    city VARCHAR(100),
                                    state VARCHAR (50),
                                    zipCode INTEGER,
                                    county VARCHAR(100),
                                    longitude FLOAT,
                                    latitude FLOAT
                                    );

                                CREATE TABLE zapbank.sales_dim(
                                   sales_id SERIAL PRIMARY KEY,
                                   lastSalePrice FLOAT,
                                   lastSaleDate DATE
                                   );

                                CREATE TABLE zapbank.features_dim(
                                    features_id SERIAL PRIMARY KEY,
                                    features TEXT,
                                    propertyType VARCHAR(255),
                                    zoning VARCHAR(255)
                                     );'''
    cursor.execute(create_table_query)
    conn.commit()
    cursor.close()
    conn.close()
create_tables()

In [89]:
#Create a funcion to load csv data from a folder into the DB
def load_data_from_csv_to_table(csv_path,table_name):
    conn= get_db_connection()
    cursor = conn.cursor()
    with open(csv_path,'r',encoding='utf-8') as file:
        reader=csv.reader(file)
        next(reader) #Skip the header row
        for row in reader:
            placeholders = ', '.join(['%s']* len(row))
            query = f"INSERT INTO {table_name} VALUES ({placeholders});"
            cursor.execute(query,row)
        conn.commit()
        cursor.close()
        conn.close()

In [91]:
# for fact table
fact_csv_path = r'C:\Users\HP\Documents\Data Engineering Projects\property_fact.csv'
load_data_from_csv_to_table(fact_csv_path, 'zapbank.fact_table')

In [93]:
# for Location dimension table
location_csv_path = r'C:\Users\HP\Documents\Data Engineering Projects\Location_dimension.csv'
load_data_from_csv_to_table(location_csv_path, 'zapbank.location_dim')

In [97]:
# for features dimension table
features_csv_path = r'C:\Users\HP\Documents\Data Engineering Projects\features_dimension.csv'
load_data_from_csv_to_table(features_csv_path, 'zapbank.features_dim')

In [264]:
 #Create a New funcion to load csv data for sales  from a folder into the DB
def load_data_from_csv_to_sales_table(csv_path,table_name):
    conn= get_db_connection()
    cursor = conn.cursor()
    with open(csv_path,'r',encoding='utf-8') as file:
        reader=csv.reader(file)
        next(reader) #Skip the header row
        for row in reader:
            #convert empty strings (or Not available) in date column to None (NULL in sql)
            row=[
              None if (cell == '' or cell =='Not Available') and col_name == 'lastSaleDate'
                 else cell for cell, col_name in zip(row, sales_dim_columns)]
        # Prepare query placeholders and execute the insert statement
        
        placeholders = ', '.join(['%s'] * len(row))
        query = f"INSERT INTO {table_name} VALUES ({placeholders});"
        cursor.execute(query, row)
        conn.commit()
        cursor.close()
        conn.close()
   

#define the columns names in sales_dim table
sales_dim_columns = ['sales_id','lastSalePrice', 'lastSaleDate']

In [324]:
import pandas as pd
from datetime import datetime
import psycopg2
from psycopg2 import Error

def load_data_from_csv_to_sales_table(csv_path, table_name):
    """
    Load sales data from CSV to database with proper data type handling and error checking.
    """
    try:
        # Get database connection
        conn = get_db_connection()
        cursor = conn.cursor()
        
        # Read the CSV file using pandas
        df = pd.read_csv(csv_path)
        print("Original CSV Data:")
        print(df)
        
        # Data type conversions
        if 'lastSalePrice' in df.columns:
            # Convert to float, replacing any non-numeric values with None
            df['lastSalePrice'] = pd.to_numeric(df['lastSalePrice'], errors='coerce')
        
        if 'lastSaleDate' in df.columns:
            # Replace empty strings or 'Not Available' with None
            df['lastSaleDate'] = df['lastSaleDate'].replace(['', 'Not Available'], None)
            # Convert to datetime, invalid parsing becomes None
            df['lastSaleDate'] = pd.to_datetime(df['lastSaleDate'], errors='coerce')
            # Convert timezone-aware timestamps to timezone-naive
            df['lastSaleDate'] = df['lastSaleDate'].dt.tz_localize(None)

        print(df)
        # Iterate over each row and insert into the database
        successful_inserts = 0
        failed_inserts = 0
        db_columns = list(df.columns)
        for index, row in df.iterrows():
            try:
                print(row)
                # Convert row to list and handle None values
                row_data = [None if pd.isna(val) else val for val in row]
                
                # Prepare the insert statement
                placeholders = ', '.join(['%s'] * len(row_data))
                query = f"INSERT INTO {table_name} ({', '.join(db_columns)}) VALUES ({placeholders});"
                
                print(f"\nAttempting insert for row {index + 1}:")
                print(f"Query: {query}")
                print(f"Data: {row_data}")
                
                cursor.execute(query, row_data)
                successful_inserts += 1
                
            except Error as e:
                failed_inserts += 1
                print(f"\nError inserting row {index + 1}:")
                print(f"Data: {row_data}")
                print(f"Error: {str(e)}")
                continue
        
        # Commit the transaction
        conn.commit()
        
        print(f"\nInsert Summary:")
        print(f"Successful inserts: {successful_inserts}")
        print(f"Failed inserts: {failed_inserts}")
        
    except Error as e:
        print(f"Database error: {str(e)}")
        if conn:
            conn.rollback()
    except Exception as e:
        print(f"General error: {str(e)}")
        if conn:
            conn.rollback()
    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()

In [328]:
# Then load the data
load_data_from_csv_to_sales_table(sales_csv_path, 'zapbank.sales_dim')

Original CSV Data:
   lastSalePrice              lastSaleDate
0       783991.0  2013-04-29T00:00:00.000Z
1            0.0  2021-07-13T00:00:00.000Z
2            0.0             Not Available
3       629000.0  2016-10-12T00:00:00.000Z
4       536005.0  2018-09-28T00:00:00.000Z
   lastSalePrice lastSaleDate
0       783991.0   2013-04-29
1            0.0   2021-07-13
2            0.0          NaT
3       629000.0   2016-10-12
4       536005.0   2018-09-28
lastSalePrice               783991.0
lastSaleDate     2013-04-29 00:00:00
Name: 0, dtype: object

Attempting insert for row 1:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [783991.0, Timestamp('2013-04-29 00:00:00')]
lastSalePrice                    0.0
lastSaleDate     2021-07-13 00:00:00
Name: 1, dtype: object

Attempting insert for row 2:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [0.0, Timestamp('2021-07-13 00:00:00')]
lastSalePrice    0.0
lastSaleDate     NaT
Name: 2, dtype: object

Attempting insert for row 3:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [0.0, None]
lastSalePrice               629000.0
lastSaleDate     2016-10-12 00:00:00
Name: 3, dtype: object

Attempting insert for row 4:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [629000.0, Timestamp('2016-10-12 00:00:00')]
lastSalePrice               536005.0
lastSaleDate     2018-09-28 00:00:00
Name: 4, dtype: object

Attempting insert for row 5:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [536005.0, Timestamp('2018-09-28 00:00:00')]

Insert Summary:
Successful inserts: 5
Failed inserts: 0

In [330]:
# for sales dimension table
sales_csv_path = r'C:\Users\HP\Documents\Data Engineering Projects\sales_dimension.csv'
load_data_from_csv_to_sales_table(sales_csv_path, 'zapbank.sales_dim')

Original CSV Data:
   lastSalePrice              lastSaleDate
0       783991.0  2013-04-29T00:00:00.000Z
1            0.0  2021-07-13T00:00:00.000Z
2            0.0             Not Available
3       629000.0  2016-10-12T00:00:00.000Z
4       536005.0  2018-09-28T00:00:00.000Z
   lastSalePrice lastSaleDate
0       783991.0   2013-04-29
1            0.0   2021-07-13
2            0.0          NaT
3       629000.0   2016-10-12
4       536005.0   2018-09-28
lastSalePrice               783991.0
lastSaleDate     2013-04-29 00:00:00
Name: 0, dtype: object

Attempting insert for row 1:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [783991.0, Timestamp('2013-04-29 00:00:00')]
lastSalePrice                    0.0
lastSaleDate     2021-07-13 00:00:00
Name: 1, dtype: object

Attempting insert for row 2:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [0.0, Timestamp('2021-07-13 00:00:00')]
lastSalePrice    0.0
lastSaleDate     NaT
Name: 2, dtype: object

Attempting insert for row 3:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [0.0, None]
lastSalePrice               629000.0
lastSaleDate     2016-10-12 00:00:00
Name: 3, dtype: object

Attempting insert for row 4:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [629000.0, Timestamp('2016-10-12 00:00:00')]
lastSalePrice               536005.0
lastSaleDate     2018-09-28 00:00:00
Name: 4, dtype: object

Attempting insert for row 5:
Query: INSERT INTO zapbank.sales_dim (lastSalePrice, lastSaleDate) VALUES (%s, %s);
Data: [536005.0, Timestamp('2018-09-28 00:00:00')]

Insert Summary:
Successful inserts: 5
Failed inserts: 0

In [270]:
def load_data_from_csv_to_sales_table(csv_path, table_name):
    import csv

    conn = get_db_connection()
    cursor = conn.cursor()

    # Define column names
    sales_dim_columns = ['sales_id', 'lastSalePrice', 'lastSaleDate']

    with open(csv_path, 'r', encoding='utf-8') as file:
        reader = csv.reader(file)
        next(reader)  # Skip the header row

        for row in reader:
            # Convert values to match table schema
            row = [
                int(cell) if col_name == 'sales_id' and cell.isdigit() else  # Convert sales_id to integer
                float(cell) if col_name == 'lastSalePrice' and cell.replace('.', '', 1).isdigit() else  # Convert lastSalePrice to float
                None if (cell == '' or cell == 'Not Available') and col_name == 'lastSaleDate' else  # Convert empty or unavailable dates to None
                cell for cell, col_name in zip(row, sales_dim_columns)
            ]

            # Prepare query placeholders and execute the insert statement
            placeholders = ', '.join(['%s'] * len(row))
            query = f"INSERT INTO {table_name} VALUES ({placeholders});"
            cursor.execute(query, row)

    conn.commit()
    cursor.close()
    conn.close()

In [127]:
print('All data has been loaded successfully into their respective schema and table')

All data has been loaded successfully into their respective schema and table