In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\hp\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import http.client
import json
import pandas as pd
import csv
import psycopg2

In [50]:
import requests

url = "https://realty-mole-property-api.p.rapidapi.com/randomProperties"

querystring = {"limit":"1000"}

headers = {
	"x-rapidapi-key": "bc68487461mshca1d2214a6e1c46p1c3c47jsn5f4df3a84144",
	"x-rapidapi-host": "realty-mole-property-api.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())


data= response.json()

#Saving into a file
filename = "PropertyRecords.json"
with open(filename,"w") as file:
    json.dump(data,file,indent=4)

[{'bathrooms': 3, 'bedrooms': 4, 'squareFootage': 4010, 'county': 'Monmouth', 'propertyType': 'Land', 'addressLine1': '104 Peskin Rd', 'city': 'Farmingdale', 'state': 'NJ', 'zipCode': '07727', 'formattedAddress': '104 Peskin Rd, Farmingdale, NJ 07727', 'lotSize': 204732, 'yearBuilt': 1940, 'features': {'architectureType': 'Colonial', 'cooling': True, 'coolingType': 'Commercial', 'exteriorType': 'Aluminum / Vinyl Siding', 'fireplace': True, 'floorCount': 2, 'foundationType': 'Block', 'garage': True, 'garageType': 'Detached', 'heating': True, 'heatingType': 'Forced Air', 'roofType': 'Shingle', 'roomCount': 10, 'unitCount': 1}, 'assessorID': '21  00154-0000-00006', 'legalDescription': 'LOT:6 BLK:154 DIST:21 CITY/MUNI/TWP:HOWELL TWP MAP REF:TAX MAP 6.17', 'subdivision': 'TOWNSHIP/HOWELL', 'zoning': 'ARE2', 'taxAssessment': {'2023': {'value': 646200, 'land': 206600, 'improvements': 439600}}, 'propertyTaxes': {'2022': {'total': 11781}}, 'lastSalePrice': 750000, 'lastSaleDate': '2023-05-26T00:00:00.000Z', 'ownerOccupied': False, 'owner': {'names': ['AVB INVESTMENT LLC'], 'mailingAddress': {'id': '431-Princeton-Ave,-Brick,-NJ-08724', 'formattedAddress': '431 Princeton Ave, Brick, NJ 08724', 'addressLine1': '431 Princeton Ave', 'city': 'Brick', 'state': 'NJ', 'zipCode': '08724'}}, 'id': '104-Peskin-Rd,-Farmingdale,-NJ-07727', 'longitude': -74.205703, 'latitude': 40.18568}, {'addressLine1': '28 Gould Ave', 'city': 'Council Bluffs', 'state': 'IA', 'zipCode': '51503', 'formattedAddress': '28 Gould Ave, Council Bluffs, IA 51503', 'bedrooms': 3, 'squareFootage': 976, 'yearBuilt': 1975, 'county': 'Pottawattamie', 'assessorID': '7543 30 451 005', 'legalDescription': 'MORNINGSIDE ADD LT 2 BLK 1 & VAC ALLEY ADJ', 'subdivision': 'MORNINGSIDE ADDITION', 'zoning': 'R-1', 'ownerOccupied': True, 'bathrooms': 2, 'lotSize': 6098, 'propertyType': 'Single Family', 'lastSalePrice': 172000, 'lastSaleDate': '2019-10-09T00:00:00.000Z', 'features': {'architectureType': 'Split Foyer', 'exteriorType': 'Wood', 'fireplace': True, 'fireplaceType': 'Masonry', 'roofType': 'Asphalt', 'roomCount': 5, 'floorCount': 1, 'foundationType': 'OTHER'}, 'taxAssessment': {'2022': {'value': 162800, 'land': 18900, 'improvements': 143900}, '2023': {'value': 187800, 'land': 19200, 'improvements': 168600}}, 'propertyTaxes': {'2021': {'total': 5853}}, 'owner': {'names': ['James P Starr', 'Jami K Starr'], 'mailingAddress': {'id': '28-Gould-Ave,-Council-Bluffs,-IA-51503', 'formattedAddress': '28 Gould Ave, Council Bluffs, IA 51503', 'addressLine1': '28 Gould Ave', 'city': 'Council Bluffs', 'state': 'IA', 'zipCode': '51503'}, 'type': 'Individual'}, 'id': '28-Gould-Ave,-Council-Bluffs,-IA-51503', 'longitude': -95.830908, 'latitude': 41.26427}, {'bathrooms': 1, 'bedrooms': 3, 'squareFootage': 1182, 'county': 'Greene', 'propertyType': 'Single Family', 'addressLine1': '2028 N East Ave', 'city': 'Springfield', 'state': 'MO', 'zipCode': '65803', 'formattedAddress': '2028 N East Ave, Springfield, MO 65803', 'yearBuilt': 1896, 'assessorID': '1312129018', 'legalDescription': "HOBART'S ADD LOT 42 BLK 5", 'subdivision': "HOBART'S", 'zoning': 'INC', 'lotSize': 6839, 'lastSaleDate': '2019-12-12T00:00:00.000Z', 'ownerOccupied': False, 'features': {'architectureType': 'Ranch', 'fireplace': True, 'floorCount': 1, 'foundationType': 'Raised', 'roomCount': 5, 'unitCount': 1}, 'taxAssessment': {'2022': {'value': 7170, 'land': 2190, 'improvements': 4980}, '2023': {'value': 7050, 'land': 2190, 'improvements': 4860}, '2024': {'value': 7050, 'land': 2190, 'improvements': 4860}}, 'propertyTaxes': {'2022': {'total': 392}, '2023': {'total': 376}}, 'owner': {'names': ['Steven Illum', 'Eileen S Illum'], 'mailingAddress': {'id': '117-E-Metalwood-Dr,-Republic,-MO-65738', 'formattedAddress': '117 E Metalwood Dr, Republic, MO 65738', 'addressLine1': '117 E Metalwood Dr', 'city': 'Republic', 'state': 'MO', 'zipCode': '65738'}, 'type': 'Individual'}, 'id': '2028-N-East-Ave,-Springfield,-MO-65803', 'longitude': -93.27928, 'latitude': 37.234138}, {'addressLine1': '3318 Tree Terrace Pkwy', 'city': 'Austell', 'state': 'GA', 'zipCode': '30168', 'formattedAddress': '3318 Tree Terrace Pkwy, Austell, GA 30168', 'county': 'Douglas', 'features': {}, 'id': '3318-Tree-Terrace-Pkwy,-Austell,-GA-30168', 'longitude': -84.617041, 'latitude': 33.793601}, {'addressLine1': '1506 Mcdaniel Dr', 'city': 'West Chester', 'state': 'PA', 'zipCode': '19380', 'formattedAddress': '1506 Mcdaniel Dr, West Chester, PA 19380', 'county': 'Chester', 'lastSalePrice': 105000, 'lastSaleDate': '1999-04-09T00:00:00.000Z', 'features': {}, 'id': '1506-Mcdaniel-Dr,-West-Chester,-PA-19380', 'longitude': -75.521141, 'latitude': 39.96714}, {'addressLine1': '4700 Plume Rd NW', 'city': 'Albuquerque', 'state': 'NM', 'zipCode': '87120', 'formattedAddress': '4700 Plume Rd NW, Albuquerque, NM 87120', 'bedrooms': 3, 'squareFootage': 2087, 'yearBuilt': 1989, 'county': 'Bernalillo', 'assessorID': '1-012-063-102-225-3-06-19', 'legalDescription': 'LOT 8 BLK 7 PRAIRIE RIDGE UNIT THREE (REPLAT OF RIVERVIEW PA RCEL H-26) CONT 5,793 SQ FT', 'subdivision': 'PRAIRIE RIDGE', 'ownerOccupied': True, 'bathrooms': 2.5, 'lotSize': 5793, 'propertyType': 'Single Family', 'features': {'floorCount': 2, 'roofType': 'Shingle', 'unitCount': 1}, 'taxAssessment': {'2022': {'value': 69233, 'land': 13526, 'improvements': 55707}}, 'propertyTaxes': {'2022': {'total': 2860}}, 'owner': {'names': ['DOLORES M GONZALES'], 'mailingAddress': {'id': '4700-Plume-Rd-NW,-Albuquerque,-NM-87120', 'addressLine1': '4700 Plume Rd NW', 'city': 'Albuquerque', 'state': 'NM', 'zipCode': '87120'}}, 'id': '4700-Plume-Rd-NW,-Albuquerque,-NM-87120', 'longitude': -106.688706, 'latitude': 35.16584}, {'addressLine1': '679 Stoney Brook Rd', 'city': 'Northfield', 'state': 'OH', 'zipCode': '44067', 'formattedAddress': '679 Stoney Brook Rd, Northfield, OH 44067', 'assessorID': '45-00692', 'bedrooms': 3, 'county': 'Summit', 'features': {'architectureType': 'Contemporary', 'cooling': True, 'coolingType': 'Central', 'exteriorType': 'Wood', 'fireplace': True, 'fireplaceType': 'Single', 'floorCount': 2, 'garage': True, 'garageSpaces': 2, 'garageType': 'Attached Garage', 'heating': True, 'heatingType': 'Central', 'roomCount': 7, 'unitCount': 1}, 'legalDescription': 'GREENWOOD VILLAGE OFSAGAMORE HILLS SUB DIV #1 LOT 25 ALL', 'ownerOccupied': True, 'squareFootage': 1868, 'subdivision': 'GREENWOOD VILLAGE OFSAGAMORE H', 'yearBuilt': 1987, 'bathrooms': 3, 'lotSize': 11205, 'propertyType': 'Single Family', 'taxAssessment': {'2019': {'value': 73930, 'land': 18860, 'improvements': 55070}}, 'propertyTaxes': {'2019': {'total': 4331}}, 'lastSalePrice': 209000, 'lastSaleDate': '2017-03-31T00:00:00.000Z', 'owner': {'names': ['NANCY A WOODRUF'], 'mailingAddress': {'id': '679-Stoney-Brook-Rd,-Northfield,-OH-44067', 'addressLine1': '679 Stoney Brook Rd', 'city': 'Northfield', 'state': 'OH', 'zipCode': '44067'}}, 'id': '679-Stoney-Brook-Rd,-Northfield,-OH-44067', 'longitude': -81.560836, 'latitude': 41.309828}, {'addressLine1': '1919 Mccormick St', 'city': 'Denton', 'state': 'TX', 'zipCode': '76205', 'formattedAddress': '1919 Mccormick St, Denton, TX 76205', 'bedrooms': 3, 'squareFootage': 1081, 'yearBuilt': 1978, 'county': 'Denton', 'assessorID': 'R25440', 'legalDescription': 'TAYLOR PARK ADDN BLK 3 LOT 28', 'subdivision': 'TAYLOR PARK ADDN', 'ownerOccupied': True, 'bathrooms': 1, 'lotSize': 7440, 'propertyType': 'Single Family', 'lastSaleDate': '2018-04-06T00:00:00.000Z', 'features': {'cooling': True, 'coolingType': 'Central', 'exteriorType': 'Brick Veneer', 'floorCount': 1, 'foundationType': 'Slab / Mat / Raft', 'garage': True, 'garageType': 'Attached', 'heating': True, 'heatingType': 'Central', 'roofType': 'Composition Shingle', 'unitCount': 1}, 'taxAssessment': {'2022': {'value': 249000, 'land': 55800, 'improvements': 193200}, '2023': {'value': 313618, 'land': 55800, 'improvements': 257818}}, 'propertyTaxes': {'2022': {'total': 3794}, '2023': {'total': 3128}}, 'owner': {'names': ['Sarah Nicole Cagle Fenderson', 'Douglas Graham Fenderson'], 'mailingAddress': {'id': '1919-Mccormick-St,-Denton,-TX-76205', 'formattedAddress': '1919 Mccormick St, Denton, TX 76205', 'addressLine1': '1919 Mccormick St', 'city': 'Denton', 'state': 'TX', 'zipCode': '76205'}, 'type': 'Individual'}, 'id': '1919-Mccormick-St,-Denton,-TX-76205', 'longitude': -97.146579, 'latitude': 33.195403}, {'county': 'Contra Costa', 'bedrooms': 5, 'bathrooms': 3, 'squareFootage': 1668, 'yearBuilt': 1957, 'lotSize': 6600, 'propertyType': 'Single Family', 'addressLine1': '1861 Toyon Dr', 'city': 'Concord', 'state': 'CA', 'zipCode': '94520', 'formattedAddress': '1861 Toyon Dr, Concord, CA 94520', 'lastSalePrice': 800000, 'lastSaleDate': '2024-04-23T00:00:00.000Z', 'assessorID': '126-164-008-8', 'legalDescription': 'TRACT 2207 40', 'subdivision': 'OAKMEAD DRIVE', 'zoning': 'R6', 'ownerOccupied': True, 'features': {'floorCount': 1, 'garage': True, 'garageType': 'Garage', 'heating': True, 'heatingType': 'Central', 'roomCount': 9, 'unitCount': 1}, 'taxAssessment': {'2023': {'value': 780300, 'land': 525300, 'improvements': 255000}, '2024': {'value': 795906, 'land': 535806, 'improvements': 260100}}, 'propertyTaxes': {'2023': {'total': 9550}}, 'owner': {'names': ['Kate Choy', 'Nicole Hill'], 'mailingAddress': {'id': '1861-Toyon-Dr,-Concord,-CA-94520', 'formattedAddress': '1861 Toyon Dr, Concord, CA 94520', 'addressLine1': '1861 Toyon Dr', 'city': 'Concord', 'state': 'CA', 'zipCode': '94520'}, 'type': 'Individual'}, 'id': '1861-Toyon-Dr,-Concord,-CA-94520', 'longitude': -122.034451, 'latitude': 37.969045}, {'bathrooms': 1, 'bedrooms': 1, 'squareFootage': 882, 'county': 'King', 'propertyType': 'Condo', 'addressLine1': '8000 28th Ave NW', 'addressLine2': 'Apt 220', 'city': 'Seattle', 'state': 'WA', 'zipCode': '98117', 'formattedAddress': '8000 28th Ave NW, Apt 220, Seattle, WA 98117', 'yearBuilt': 1976, 'assessorID': '026752-0020', 'legalDescription': 'ARIA CONDOMINIUM PERCENT OF VAL 9.10', 'subdivision': 'ARIA', 'zoning': 'LR2 RC', 'ownerOccupied': True, 'lotSize': 8151, 'lastSalePrice': 405000, 'lastSaleDate': '2021-12-17T00:00:00.000Z', 'features': {'architectureType': 'Condo / Apartment', 'fireplace': True, 'floorCount': 4, 'unitCount': 10, 'viewType': 'Average'}, 'taxAssessment': {'2022': {'value': 360000, 'land': 148300, 'improvements': 211700}}, 'propertyTaxes': {'2022': {'total': 3070}}, 'owner': {'names': ['Jennifer Ann Teehan'], 'mailingAddress': {'id': '8000-28th-Ave-NW,-APT-220,-Seattle,-WA-98117', 'formattedAddress': '8000 28th Ave NW, APT 220, Seattle, WA 98117', 'addressLine1': '8000 28th Ave NW', 'city': 'Seattle', 'state': 'WA', 'zipCode': '98117', 'addressLine2': 'APT 220'}}, 'id': '8000-28th-Ave-NW,-Apt-220,-Seattle,-WA-98117', 'longitude': -122.392689, 'latitude': 47.686956}]

In [51]:
#Read into a dataframe

Propertyrecord_df = pd.read_json('PropertyRecords.json')

In [53]:
Propertyrecord_df.info()
print(Propertyrecord_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         8 non-null      float64
 1   bedrooms          8 non-null      float64
 2   squareFootage     8 non-null      float64
 3   county            10 non-null     object
 4   propertyType      8 non-null      object
 5   addressLine1      10 non-null     object
 6   city              10 non-null     object
 7   state             10 non-null     object
 8   zipCode           10 non-null     int64
 9   formattedAddress  10 non-null     object
 10  lotSize           8 non-null      float64
 11  yearBuilt         8 non-null      float64
 12  features          10 non-null     object
 13  assessorID        8 non-null      object
 14  legalDescription  8 non-null      object
 15  subdivision       8 non-null      object
 16  zoning            5 non-null      object
 17  taxAssessment     8 non-null      object
 18  propertyTaxes     8 non-null      object
 19  lastSalePrice     6 non-null      float64
 20  lastSaleDate      8 non-null      object
 21  ownerOccupied     8 non-null      float64
 22  owner             8 non-null      object
 23  id                10 non-null     object
 24  longitude         10 non-null     float64
 25  latitude          10 non-null     float64
 26  addressLine2      1 non-null      object
dtypes: float64(9), int64(1), object(17)
memory usage: 2.2+ KB
Index(['bathrooms', 'bedrooms', 'squareFootage', 'county', 'propertyType',
       'addressLine1', 'city', 'state', 'zipCode', 'formattedAddress',
       'lotSize', 'yearBuilt', 'features', 'assessorID', 'legalDescription',
       'subdivision', 'zoning', 'taxAssessment', 'propertyTaxes',
       'lastSalePrice', 'lastSaleDate', 'ownerOccupied', 'owner', 'id',
       'longitude', 'latitude', 'addressLine2'],
      dtype='object')

In [57]:
#Transformational 

#Convert columns with dictionary into string
import json

Propertyrecord_df['features']=Propertyrecord_df ['features'].apply(json.dumps)

#fill missing nd NA values
Propertyrecord_df.fillna(
    {
        'bathrooms': 0,
        'bedrooms': 0,
        'squareFootage': 0, 
        'county': "Not Available", 
        'propertyType': "unknown",
        'addressLine1': "unknown",
        'city': "unknown", 
        'state': "unknown", 
        'zipCode': "unknown", 
        'formattedAddress': "Not Available",
        'yearBuilt': 0, 
        'features': "unknown", 
        'assessorID': "unknown", 
        'legalDescription': "Not Available",
        'subdivision': "Not Available", 
        'ownerOccupied': 0, 
        'lotSize': 0, 
        'taxAssessment': "Not Available",
        'propertyTaxes': "Not Available", 
        'lastSaleDate': "Not Available", 
        'lastSalePrice': 0, 
        'owner': "unknown", 
        'id': "unknown",
        'longitude': "unknown", 
        'latitude': "unknown", 
        'zoning': "unknown", 
        'addressLine2': "Not Available"
    },
    inplace=True
)

In [59]:
print(Propertyrecord_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         10 non-null     float64
 1   bedrooms          10 non-null     float64
 2   squareFootage     10 non-null     float64
 3   county            10 non-null     object
 4   propertyType      10 non-null     object
 5   addressLine1      10 non-null     object
 6   city              10 non-null     object
 7   state             10 non-null     object
 8   zipCode           10 non-null     int64
 9   formattedAddress  10 non-null     object
 10  lotSize           10 non-null     float64
 11  yearBuilt         10 non-null     float64
 12  features          10 non-null     object
 13  assessorID        10 non-null     object
 14  legalDescription  10 non-null     object
 15  subdivision       10 non-null     object
 16  zoning            10 non-null     object
 17  taxAssessment     10 non-null     object
 18  propertyTaxes     10 non-null     object
 19  lastSalePrice     10 non-null     float64
 20  lastSaleDate      10 non-null     object
 21  ownerOccupied     10 non-null     float64
 22  owner             10 non-null     object
 23  id                10 non-null     object
 24  longitude         10 non-null     float64
 25  latitude          10 non-null     float64
 26  addressLine2      10 non-null     object
dtypes: float64(9), int64(1), object(17)
memory usage: 2.2+ KB
None

In [61]:
#create the FACT Table
fact_columns =['addressLine1','city', 'state','zipCode', 'formattedAddress',  'squareFootage', 'yearBuilt', 'bathrooms', 'bedrooms', 'lotSize', 'propertyType',
                'longitude', 'latitude']

fact_table = Propertyrecord_df[fact_columns]

#Create Location Dimension
Location_dim= Propertyrecord_df[['addressLine1','city', 'state','zipCode','county','longitude', 'latitude']].drop_duplicates().reset_index(drop=True)
Location_dim.index.name= 'location_id'

In [63]:
#Create Sales Dimension

sales_dim = Propertyrecord_df[['lastSalePrice','lastSaleDate']].drop_duplicates().reset_index(drop=True)
sales_dim.index.name= 'sales_id'
sales_dim.head()

          lastSalePrice              lastSaleDate
sales_id
0              750000.0  2023-05-26T00:00:00.000Z
1              172000.0  2019-10-09T00:00:00.000Z
2                   0.0  2019-12-12T00:00:00.000Z
3                   0.0             Not Available
4              105000.0  1999-04-09T00:00:00.000Z

In [65]:
#Create Property Features Dimension
features_dim = Propertyrecord_df[['features', 'propertyType', 'zoning']].drop_duplicates().reset_index(drop=True)
features_dim.index.name ='features_id'
features_dim.head()

,features,propertyType,zoning
features_id,,,
0,"{""architectureType"": ""Colonial"", ""cooling"": tr...",Land,ARE2
1,"{""architectureType"": ""Split Foyer"", ""exteriorT...",Single Family,R-1
2,"{""architectureType"": ""Ranch"", ""fireplace"": tru...",Single Family,INC
3,{},unknown,unknown
4,"{""floorCount"": 2, ""roofType"": ""Shingle"", ""unit...",Single Family,unknown

In [29]:

#Output to csv
fact_table.to_csv('property_fact.csv', index=False)
Location_dim.to_csv('Location_dimension.csv', index=True)
sales_dim.to_csv('sales_dimension.csv', index=True)
features_dim.to_csv('features_dimension.csv', index=True)

In [67]:
  #Loading Layer

# develop a function to connect to pgadmin

def get_db_connection():
    connection = psycopg2.connect(
        host= 'localhost',
        database='postgres',
        user='postgres',
        password='shakirat12'
    )
    return connection

conn = get_db_connection()

In [87]:
#creating tables


def create_tables():
    conn = get_db_connection()
    cursor = conn.cursor()
    create_table_query='''CREATE SCHEMA IF NOT EXISTS zapbank;

                            DROP TABLE IF EXISTS zapbank.fact_table;
                            DROP TABLE IF EXISTS zapbank.location_dim;
                            DROP TABLE IF EXISTS zapbank.sales_dim;
                            DROP TABLE IF EXISTS zapbank.features_dim;

                            CREATE TABLE zapbank.fact_table(
                                addressline1 VARCHAR(255),
                                city VARCHAR(100),
                                state VARCHAR(50),
                                zipCode INTEGER,
                                formattedAddress VARCHAR(255),
                                squareFootage FLOAT,
                                yearBuilt FLOAT,
                                bathrooms FLOAT,
                                bedrooms FLOAT,
                                lotSize FLOAT,
                                propertyType VARCHAR(255),
                                longitude FLOAT,
                                latitude FLOAT
                                );

                                CREATE TABLE zapbank.location_dim(
                                    location_id SERIAL PRIMARY KEY,
                                    addressLine1 VARCHAR(255),
                                    city VARCHAR(100),
                                    state VARCHAR (50),
                                    zipCode INTEGER,
                                    county VARCHAR(100),
                                    longitude FLOAT,
                                    latitude FLOAT
                                    );

                                CREATE TABLE zapbank.sales_dim(
                                   sales_id SERIAL PRIMARY KEY,
                                   lastSalePrice FLOAT,
                                   lastSaleDate DATE
                                   );

                                CREATE TABLE zapbank.features_dim(
                                    features_id SERIAL PRIMARY KEY,
                                    features TEXT,
                                    propertyType VARCHAR(255),
                                    zoning VARCHAR(255)
                                     );'''
    cursor.execute(create_table_query)
    conn.commit()
    cursor.close()
    conn.close()
create_tables()

In [89]:
#Create a funcion to load csv data from a folder into the DB
def load_data_from_csv_to_table(csv_path,table_name):
    conn= get_db_connection()
    cursor = conn.cursor()
    with open(csv_path,'r',encoding='utf-8') as file:
        reader=csv.reader(file)
        next(reader) #Skip the header row
        for row in reader:
            placeholders = ', '.join(['%s']* len(row))
            query = f"INSERT INTO {table_name} VALUES ({placeholders});"
            cursor.execute(query,row)
        conn.commit()
        cursor.close()
        conn.close()

In [91]:
# for fact table
fact_csv_path = r'C:\Users\HP\Documents\Data Engineering Projects\property_fact.csv'
load_data_from_csv_to_table(fact_csv_path, 'zapbank.fact_table')

In [93]:
# for Location dimension table
location_csv_path = r'C:\Users\HP\Documents\Data Engineering Projects\Location_dimension.csv'
load_data_from_csv_to_table(location_csv_path, 'zapbank.location_dim')

In [97]:
# for features dimension table
features_csv_path = r'C:\Users\HP\Documents\Data Engineering Projects\features_dimension.csv'
load_data_from_csv_to_table(features_csv_path, 'zapbank.features_dim')

In [121]:
 #Create a New funcion to load csv data for sales  from a folder into the DB
def load_data_from_csv_to_sales_table(csv_path,table_name):
    conn= get_db_connection()
    cursor = conn.cursor()
    with open(csv_path,'r',encoding='utf-8') as file:
        reader=csv.reader(file)
        next(reader) #Skip the header row
        for row in reader:
            #convert empty strings (or Not available) in date column to None (NULL in sql)
            row=[None if (cell == '' or cell =='Not Available') and col_name == 'lastSaleDate' else cell for cell, col_name in zip(row, sales_dim_columns)]
            placeholders = ', '.join(['%s']* len(row))
            query = f"INSERT INTO {table_name} VALUES ({placeholders});"
            cursor.execute(query,row)
        conn.commit()
        cursor.close()
        conn.close()

#define the columns names in sales_dim table
sales_dim_columns = ['sales_id','lastSalePrice', 'lastSaleDate']

In [125]:
# for sales dimension table
sales_csv_path = r'C:\Users\HP\Documents\Data Engineering Projects\sales_dimension.csv'
load_data_from_csv_to_sales_table(sales_csv_path, 'zapbank.sales_dim')

UniqueViolation: duplicate key value violates unique constraint "sales_dim_pkey"
DETAIL:  Key (sales_id)=(0) already exists.

In [127]:
print('All data has been loaded successfully into their respective schema and table')

All data has been loaded successfully into their respective schema and table